@model TaskManager.Models.ViewModels.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_TaskManagerMasterPage.cshtml";
}

<h2>Авторизация</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Login, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Login)
                @Html.ValidationMessageFor(model => model.Login)
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <br/>
                <input type="submit" value="Войти" class="btn btn-primary" />
                <a href="@Url.Action("Register", "Account")" class="btn btn-primary" title="Регистрация">
                    <span>Регистрация</span>
                </a>
            </div>
        </div>
    </div>
}

